
__pycache__
chessboard 30x30mm
handeye_data
cam_calib/chessboard 25x25mm
cam_calib/phone_imgs
cam_calib/cam_params/25mm
cam_calib/cam_params/25mm2
cam_calib/cam_params/30mm
example
handeye_data2
pick_examples.py
test move copy.py
test move.py
test move.py
cam_calib/cam_params/phone
cam_calib/chessboard30
cam_calib/chessboard30picked
cam_calib/deska-1-2
cam_calib/aruco-20241229T201232Z-001.zip
cam_calib/chess30new-20241229T141117Z-001.zip
cam_calib/chessboard30-20241229T141118Z-001.zip
handeye_data3
handeye_data-20241229T151540Z-001.zip
cam_calib/charuco_test
cam_calib/phone_charuco
cam_calib/phone_charuco_pos
cam_calib/charuco30mm
cam_calib/crs97_charuco30mm-20241231T093241Z-001.zip
handeye_data.zip
handeye_data4
cam_calib/charuco20_15
cam_calib/charuco20_15.zip
cam_calib/charuco_test.png
handeye_data5
tst_reproj
handeye_data (1).zip
handeye_data_patek
handeye_output_patek/drive-download-20250103T163455Z-001.zip
sanity_check.py
ROB1---projekt-kalibrace_experimental/__pycache__
ROB1---projekt-kalibrace_experimental/__pycache__
ROB1---projekt-kalibrace_experimental/__pycache__
ROB1---projekt-kalibrace_experimental/cam_calib/__pycache__
datasets/deska_7_8
deska_test.png
datasets/cam_calib_1.10/Image__2025-01-10__11-32-00.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-32-23.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-32-37.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-32-47.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-32-58.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-33-13.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-33-26.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-33-34.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-35-06.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-35-20.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-35-35.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-35-41.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-35-50.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-36-02.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-56-14.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-56-29.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-56-41.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-56-48.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-56-58.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-57-14.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-57-24.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-57-31.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-57-41.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-57-53.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-57-59.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-58-07.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-58-20.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-58-29.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-58-34.bmp
datasets/cam_calib_1.10/Image__2025-01-10__11-58-38.bmp
