
__pycache__
chessboard 30x30mm
handeye_data
cam_calib/chessboard 25x25mm
cam_calib/phone_imgs
cam_calib/cam_params/25mm
cam_calib/cam_params/25mm2
cam_calib/cam_params/30mm
example
handeye_data2
pick_examples.py
test move copy.py
test move.py
test move.py
cam_calib/cam_params/phone
cam_calib/chessboard30
cam_calib/chessboard30picked
cam_calib/deska-1-2
cam_calib/aruco-20241229T201232Z-001.zip
cam_calib/chess30new-20241229T141117Z-001.zip
cam_calib/chessboard30-20241229T141118Z-001.zip
handeye_data3
handeye_data-20241229T151540Z-001.zip
cam_calib/charuco_test
cam_calib/phone_charuco
cam_calib/phone_charuco_pos
